@use'../custom' as *;
@use'../components/mixins' as *;

.btn-rounded {
    background: $white;
    border:0.1rem solid rgba($white, 0.6);
    border-radius: 100px;
    position:relative;
    padding:0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight:500;
    margin:0;

    span {
        position:absolute;
        background-color:$primary;
        height: 2.5rem;
        width:2.5rem;
        border-radius:50%;
        top: 50%;
        right:5px;
        transform:translateY(-50%);

        i {
            color:$white;
            font-size:1rem;
            line-height: 2.5rem;
        }
    }
    &:hover {
        @include gradient;
        color: $white;
        span {
            background-color: rgba($black, 0.6);
        }
    }
}

// Stopped at 1;10:0 https://www.youtube.com/watch?v=iJKCj8uAHz8